body {
  font-size: 8pt;  
}

.atm {
  background-image: url(img/atm.png);
  background-size: auto 100vh;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: absolute;
}

.screen-container {
  color: #fafafa;
  width: 300px;
  height: 37vh;
  margin: 15vh auto 0;
}

.screen {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.fingerprint {
  display: block;
  position: absolute;
  width: 30px;
  height: 7vh;
  right: 100px;
  margin-top: 80px;
  cursor: pointer;
}

.header {
  text-align: center;
  font-size: 9pt;
  line-height: 1.7;
}

.header span {
  font-weight: 600;
  font-size: 15pt;
}

.logo {
  width: auto;
  height: 25px;
}

.content {
  flex: 1;
  padding: 10px;
  overflow: hidden;
}

.content.scroll {
  overflow-y: scroll;
}

.content::-webkit-scrollbar {
	width: 4px;
}

.content::-webkit-scrollbar-thumb {
	border: 1px solid rgba(255,255,255,.8);
	border-radius: 2px;
	background: rgba(0,0,0,.2);
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex--center-y {
  align-items: center;
}

.flex--center-x  {
   justify-content: center;
}

.flex--space-between {
  justify-content: space-between;
}

.flex--space-around {
  justify-content: space-around;
}

.flex--fill-y {
  height: 100%;
}

.scan-text {
  font-weight: 600;
  font-size: 16pt;
}

.scan-fingerprint {
  width: auto;
  height: 70px;
  cursor: pointer;
}

.scan-fingerprint.small {
  height: 50px;
}

.flex-row .options {
  flex: 1;
}

.option {
  background-color: #0a0a0a;
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
}

.option:hover {
  color: #999;
}

.invalid-container {
  font-size: 16pt;
  line-height: 1;
}

.invalid {
  display: inline-block;
  background-color: red;
  padding: 7px;
  border-radius: 10px;
  margin: 10px 20px;
  font-weight: 600;
}

.money {
  width: 150px;
  height: 75px;
  position: absolute;
  bottom: 10vh;
  margin-left: 80px;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  margin: 5px auto;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.text-right {
  text-align: right;
}

.text-h1 {
  font-size: 15pt;
  font-weight: 600;
}

input {
  color: #0a0a0a;
  border-radius: 5px;
  border: none;
  outline: none;
  margin: 5px auto;
  padding: 2px 7px;
}